<%- include('../inc/top') %>
<div class="row" style="margin: 10px">
  <h2>Danh sách hãng xe</h2>

  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Thể loại</th>
    </tr>
    <!-- 
    <%for (var i = 0; i < listTL.length; i++) { %><% var loai = listTL[i] , _id
    = loai._id // the name of the user %><%# comment %> <%var name = loai.name
    %>

    <tr>
      <th scope="row"><%= _id %></th>
      <td><%= name %></td>

      <td><button type="button" class="btn btn-info">Sửa</button></td>
      <td><button type="button" class="btn btn-danger">Xóa</button></td>
    </tr>

    <%}-%> -->
    <% listTL.forEach( ( row ) => { %>
    <tr>
      <td><%= row._id %></td>
      <td><%= row.name %></td>
      
      <td><a role="button"href="loai/delete/<%= row._id %>" button type="button" class="btn btn-danger">Xóa</button></td>
    </tr>
    <% }); %>
    <div class="form-group mb-4">
  <a role="button"  href="/loai/add-tl" button type="submit" class="btn btn-primary">Thêm hãng xe</a>
</div>
  </table>
</table>

</div>
</div>

<%- include('../inc/bottom') %>
